* {
    font-family: 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; /* Sends the video to the background */
}

/* Add a dark overlay for better readability */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 0;
}

.minecode {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .minecode {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .mcimg {
        order: 2;
    }

    .mctext {
        order: 1;
    }

    .carousel-inner .row {
        flex-direction: column;
    }

    .carousel-inner .col-md-4 {
        width: 100%;
        margin-bottom: 20px;
    }

    .services {
        height: auto;
    }

    #contact {
        height: auto;
    }
}
